.CreateAccountPage {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    background: #9CCED6;
    padding: 20px;
    border-radius: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
    margin-top: 10px;
}

.Text {
    color: #4C9DB0;
    font-size: 60px;
    font-weight: bold;
}

.inputs {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 350px;
    height: 40px;
    background: #ECFBFD;
    border-radius: 10px;
}

.input input{
    height: 50px;
    width: 250px;
    background: transparent;
    border: none;
    outline: none;
    color: #4C9DB0;
    font-size: 15px;
    margin-left: 15px;
}