.LoginPage {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    background: #9CCED6;
    padding: 20px;
    border-radius: 20px;
    width: 500px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
    margin-top: 10px;
}

.Text {
    color: #4C9DB0;
    font-size: 60px;
    font-weight: bold;
}

.inputs {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 350px;
    height: 40px;
    background: #ECFBFD;
    border-radius: 10px;
}

.input input{
    height: 50px;
    width: 250px;
    background: transparent;
    border: none;
    outline: none;
    color: #4C9DB0;
    font-size: 15px;
    margin-left: 15px;
}

.forgot-password {
    margin-top: 15px;
    color: #4C9DB0;
    font-size: 14px;
}

.forgot-password span {
    text-decoration: underline;
    color:  #ECFBFD;
    cursor: pointer;
}

.submit-container {
    margin-top: 10px;
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    color: #ECFBFD;
    background: #4C9DB0;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold; 
}

.signup-link {
    font-size: 15px;
    color: #4C9DB0;
}

.signup-link a {
    color: #4C9DB0;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}