@import "tailwindcss";

@theme {
  --color-bluewhite:#ECFBFD;
  --color-moonstone:#4C9DB0;
  --color-lightermoonstone:#9CCED6;
  --color-darkervanilla:#E9CC73;
  --color-vanilla:#FFEBAF;
}
html, body, #root {
  height: 100%;
  width: 100%;
}
#root {
  display: flex;
}