@import "tailwindcss";

@theme {
  --color-whiteblue:#ECFBFD;
  --color-bluewhite:#ECFBFD;
  --color-moonstone:#4C9DB0;
  --color-darkermoonstone:#3a8799;
  --color-lightermoonstone:#9CCED6;
  --color-darkervanilla:#E9CC73;
  --color-vanilla:#FFEBAF;
  --color-lightgrey:#E3E3E3;
}

@import 
url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body, #root {
  height: 100%;
  width: 100%;
  background-image: url(./assets/images/deco.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-color: var(--color-whiteblue);
}
#root {
  display: flex;
}

.slick-track {
  overflow: visible !important;
}